In [1]:
import pandas as pd
df = pd.read_csv('/PATH_TO_YOUR_FILES/Patients.csv',delimiter='\t',sep=',',header=None)
print(df.head())

                                                   0
0  73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-1...
1  cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-2...
2  15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-2...
3  32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-1...
4  4adcad4e-1aa5-5601-4107-55953f484703,1962-06-2...

In [2]:
df = df[0].str.split(',', expand=True)

In [3]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-15,\N,999-54-9859,S99986862,X21012070X,Mrs.,Hedy,Von,\N,...,Massachusetts,Middlesex County,25017,1867,42.52496000289047,-71.1210503282821,8522.61,261550.12,8402,1
1,cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-26,2019-08-17,999-19-2105,S99922222,X66407833X,Mrs.,Adelina,Treutel,\N,...,Massachusetts,Hampden County,25013,1104,42.09394120412677,-72.5707445727102,824192.36,31979.82,42514,2
2,15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-27,\N,999-44-5853,S99929170,X68583323X,Ms.,Artie,Cronin,\N,...,Massachusetts,Worcester County,25027,1604,42.291968201261824,-71.81152962280308,32502.1,767484.6,638066,3
3,32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-17,\N,999-78-8436,S99914103,X28243259X,Mrs.,Lauryn,Wisozk,\N,...,Massachusetts,Suffolk County,25025,2121,42.25729277762842,-71.08346502522105,437107.67,933931.36,147695,4
4,4adcad4e-1aa5-5601-4107-55953f484703,1962-06-26,\N,999-72-3919,S99998121,X76753902X,Mrs.,Dorthea,Reichel,\N,...,Massachusetts,Norfolk County,25021,2184,42.23661190444311,-71.00959511002986,254423.25,590863.07,122035,5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11363 entries, 0 to 11362
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       11363 non-null  object
 1   1       11363 non-null  object
 2   2       11363 non-null  object
 3   3       11363 non-null  object
 4   4       11363 non-null  object
 5   5       11363 non-null  object
 6   6       11363 non-null  object
 7   7       11363 non-null  object
 8   8       11363 non-null  object
 9   9       11363 non-null  object
 10  10      11363 non-null  object
 11  11      11363 non-null  object
 12  12      11363 non-null  object
 13  13      11363 non-null  object
 14  14      11363 non-null  object
 15  15      11363 non-null  object
 16  16      11363 non-null  object
 17  17      11363 non-null  object
 18  18      11363 non-null  object
 19  19      11363 non-null  object
 20  20      11363 non-null  object
 21  21      11363 non-null  object
 22  22      11363 non-null  object
 23  23      11363 non-null  object
 24  24      11363 non-null  object
 25  25      11363 non-null  object
 26  26      11363 non-null  object
 27  27      11363 non-null  object
dtypes: object(28)
memory usage: 2.4+ MB

In [6]:
df.columns = ['ID', 'birthdate','deathdate','ssn','drivers','passport','prefix', 'FirstName', 'LastName', 'suffix','G','H','I','J','K','L','M','N','state','county','zip','A','B','C','D','E','F','SN']

In [7]:
df.head(5)

,ID,birthdate,deathdate,ssn,drivers,passport,prefix,FirstName,LastName,suffix,...,state,county,zip,A,B,C,D,E,F,SN
0,73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-15,\N,999-54-9859,S99986862,X21012070X,Mrs.,Hedy,Von,\N,...,Massachusetts,Middlesex County,25017,1867,42.52496000289047,-71.1210503282821,8522.61,261550.12,8402,1
1,cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-26,2019-08-17,999-19-2105,S99922222,X66407833X,Mrs.,Adelina,Treutel,\N,...,Massachusetts,Hampden County,25013,1104,42.09394120412677,-72.5707445727102,824192.36,31979.82,42514,2
2,15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-27,\N,999-44-5853,S99929170,X68583323X,Ms.,Artie,Cronin,\N,...,Massachusetts,Worcester County,25027,1604,42.291968201261824,-71.81152962280308,32502.1,767484.6,638066,3
3,32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-17,\N,999-78-8436,S99914103,X28243259X,Mrs.,Lauryn,Wisozk,\N,...,Massachusetts,Suffolk County,25025,2121,42.25729277762842,-71.08346502522105,437107.67,933931.36,147695,4
4,4adcad4e-1aa5-5601-4107-55953f484703,1962-06-26,\N,999-72-3919,S99998121,X76753902X,Mrs.,Dorthea,Reichel,\N,...,Massachusetts,Norfolk County,25021,2184,42.23661190444311,-71.00959511002986,254423.25,590863.07,122035,5

In [13]:
# set the pandas display to max columns
pd.set_option('display.max_columns', None)

In [14]:
df.head(5)

,ID,birthdate,deathdate,ssn,drivers,passport,prefix,FirstName,LastName,G,H,Race,Hispanic,K,L,M,state,county,zip,A,B,C,D,E,F,SN
0,73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-15,NA,999-54-9859,S99986862,X21012070X,Mrs.,Hedy,Von,Schoen,M,white,nonhispanic,F,Worcester Massachusetts US,1012 Lueilwitz Trail Unit 2,Massachusetts,Middlesex County,25017,1867,42.52496000289047,-71.1210503282821,8522.61,261550.12,8402,1
1,cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-26,2019-08-17,999-19-2105,S99922222,X66407833X,Mrs.,Adelina,Treutel,Miller,D,white,nonhispanic,F,Scituate Massachusetts US,622 Kilback Loaf,Massachusetts,Hampden County,25013,1104,42.09394120412677,-72.5707445727102,824192.36,31979.82,42514,2
2,15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-27,NA,999-44-5853,S99929170,X68583323X,Ms.,Artie,Cronin,NA,NA,white,nonhispanic,F,Brockton Massachusetts US,763 Tillman Junction,Massachusetts,Worcester County,25027,1604,42.291968201261824,-71.81152962280308,32502.1,767484.6,638066,3
3,32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-17,NA,999-78-8436,S99914103,X28243259X,Mrs.,Lauryn,Wisozk,Senger,M,white,hispanic,F,Fitchburg Massachusetts US,797 Lemke Bypass Unit 25,Massachusetts,Suffolk County,25025,2121,42.25729277762842,-71.08346502522105,437107.67,933931.36,147695,4
4,4adcad4e-1aa5-5601-4107-55953f484703,1962-06-26,NA,999-72-3919,S99998121,X76753902X,Mrs.,Dorthea,Reichel,McDermott,M,black,nonhispanic,F,Fall River Massachusetts US,865 Simonis Highlands Suite 83,Massachusetts,Norfolk County,25021,2184,42.23661190444311,-71.00959511002986,254423.25,590863.07,122035,5

In [16]:
df = df.rename(columns= {'I':'Race', 'J':'Hispanic'})

```
To replace \N with NA, we need to escape the backslash in the string with the use of \\.
In Python, the r prefix before a string literal denotes a "raw" string. 
Raw strings are often used when dealing with regular expressions or strings that contain backslashes (\).
When you use a raw string, Python interprets the backslashes literally, rather than as escape characters. 
This means that backslashes are treated as normal characters and not as special escape sequences.
```

In [11]:
df = df.replace(r'\\N', 'NA', regex=True)

In [12]:
df.head(5)

,ID,birthdate,deathdate,ssn,drivers,passport,prefix,FirstName,LastName,G,...,state,county,zip,A,B,C,D,E,F,SN
0,73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-15,NA,999-54-9859,S99986862,X21012070X,Mrs.,Hedy,Von,Schoen,...,Massachusetts,Middlesex County,25017,1867,42.52496000289047,-71.1210503282821,8522.61,261550.12,8402,1
1,cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-26,2019-08-17,999-19-2105,S99922222,X66407833X,Mrs.,Adelina,Treutel,Miller,...,Massachusetts,Hampden County,25013,1104,42.09394120412677,-72.5707445727102,824192.36,31979.82,42514,2
2,15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-27,NA,999-44-5853,S99929170,X68583323X,Ms.,Artie,Cronin,NA,...,Massachusetts,Worcester County,25027,1604,42.291968201261824,-71.81152962280308,32502.1,767484.6,638066,3
3,32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-17,NA,999-78-8436,S99914103,X28243259X,Mrs.,Lauryn,Wisozk,Senger,...,Massachusetts,Suffolk County,25025,2121,42.25729277762842,-71.08346502522105,437107.67,933931.36,147695,4
4,4adcad4e-1aa5-5601-4107-55953f484703,1962-06-26,NA,999-72-3919,S99998121,X76753902X,Mrs.,Dorthea,Reichel,McDermott,...,Massachusetts,Norfolk County,25021,2184,42.23661190444311,-71.00959511002986,254423.25,590863.07,122035,5

In [16]:
split_data = df['L'].str.split(' ', expand=True)

In [17]:
split_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Worcester,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
1,Scituate,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
2,Brockton,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
3,Fitchburg,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
4,Fall,River,,Massachusetts,,US,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11358,Medford,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11359,Taunton,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11360,Boston,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11361,Holyoke,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11362,Duxbury,,Massachusetts,,US,None,None,None,None,None,None,None,None,None

```
.str.split(' ', expand=True) splits the 'Location' column by spaces and expands it into separate columns. 
print("Shape of split_data:", split_data.shape) will help understand the inconsistancy
df[['City', 'State', 'Country']] = split_data --- assign splited data to columns

In [18]:
split_data = df['L'].str.split(' ', expand=True)

In [19]:
split_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Worcester,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
1,Scituate,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
2,Brockton,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
3,Fitchburg,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
4,Fall,River,,Massachusetts,,US,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11358,Medford,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11359,Taunton,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11360,Boston,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11361,Holyoke,,Massachusetts,,US,None,None,None,None,None,None,None,None,None
11362,Duxbury,,Massachusetts,,US,None,None,None,None,None,None,None,None,None

In [20]:
print("Shape of split_data:", split_data.shape)

Shape of split_data: (11363, 14)

In [21]:
split_data = split_data.drop(columns =[5,6,7,8,9,10,11,12,13])

In [22]:
df[['City', 'T','State', 'Q','Country']] = split_data

In [23]:
split_data

               0      1              2              3   4
0      Worcester         Massachusetts                 US
1       Scituate         Massachusetts                 US
2       Brockton         Massachusetts                 US
3      Fitchburg         Massachusetts                 US
4           Fall  River                 Massachusetts
...          ...    ...            ...            ...  ..
11358    Medford         Massachusetts                 US
11359    Taunton         Massachusetts                 US
11360     Boston         Massachusetts                 US
11361    Holyoke         Massachusetts                 US
11362    Duxbury         Massachusetts                 US

[11363 rows x 5 columns]

In [27]:
df = df.replace('NA', 'null', regex=True)

In [28]:
df = df.rename(columns= {'Ethnicity':'Race', 'Hispanic': 'Ethnicity'})

In [58]:
df.head(5)

,ID,birthdate,deathdate,ssn,drivers,passport,prefix,FirstName,LastName,suffix,Race,Ethnicity,gender,address,City,state,county,FIPS,zip,LAT,LON,Healthcare_expenses,Healthcare_coverage,Income
0,73d3ebe3-e656-b9de-fd61-88d370a86d51,1985-09-15,null,999-54-9859,S99986862,X21012070X,Mrs.,Hedy,Von,Schoen,white,nonhispanic,F,1012 Lueilwitz Trail Unit 2,Worcester,Massachusetts,Middlesex County,1867,25017,42.52496000289047,-71.1210503282821,8522.61,261550.12,8402
1,cc53e99a-6715-603f-b074-eea93fe11e20,1961-07-26,2019-08-17,999-19-2105,S99922222,X66407833X,Mrs.,Adelina,Treutel,Miller,white,nonhispanic,F,622 genderilback Loaf,Scituate,Massachusetts,Hampden County,1104,25013,42.09394120412677,-72.5707445727102,824192.36,31979.82,42514
2,15e61a30-618d-4b20-dd5d-5dc627fa6e4c,2001-12-27,null,999-44-5853,S99929170,X68583323X,Ms.,Artie,Cronin,null,white,nonhispanic,F,763 Tillman Junction,Brockton,Massachusetts,Worcester County,1604,25027,42.291968201261824,-71.81152962280308,32502.1,767484.6,638066
3,32a2188a-132e-4fd4-1a0e-3d532f4c4ea8,1958-12-17,null,999-78-8436,S99914103,X28243259X,Mrs.,Lauryn,Wisozk,Senger,white,hispanic,F,797 Lemke Bypass Unit 25,Fitchburg,Massachusetts,Suffolk County,2121,25025,42.25729277762842,-71.08346502522105,437107.67,933931.36,147695
4,4adcad4e-1aa5-5601-4107-55953f484703,1962-06-26,null,999-72-3919,S99998121,X76753902X,Mrs.,Dorthea,Reichel,McDermott,black,nonhispanic,F,865 Simonis Highlands Suite 83,Fall,Massachusetts,Norfolk County,2184,25021,42.23661190444311,-71.00959511002986,254423.25,590863.07,122035

In [47]:
df = df.rename(columns= {'B':'LAT', 'C': 'LON', 'D': 'Healthcare_expenses','E': 'Healthcare_coverage', 'F': 'Income'})

In [49]:
df = df.drop(columns = ['SN', 'T', 'Q'])

In [51]:
df = df.rename(columns = {'A': 'FIPS'})

In [ ]:
column_FIPS = df.pop('FIPS')  # Remove column 'C'
df.insert(17, 'FIPS', column_FIPS)  # Reinsert column 'C' at index 1

```
To move a column in a Pandas DataFrame to a specific position, you can use the insert() method along with pop() to remove and reinsert the column.
```

In [ ]:
df.to_csv('/PATH_TO_YOUR_FILES/patients_clean.csv', index = False)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:password@localhost/Hospital")

######## create a list of files ######

files =['encounter_clean','patient_clean']

######## for loop to import all 8 files ########


for file in files:
    df = pd.read_csv(f'/PATH_TO_YOUR_FILES/{file}.csv')
    df.to_sql(file, con=engine, if_exists='replace', index=False)